@import url(/vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./blocks/header.css);
@import url(./blocks/profile.css);
@import url(./blocks/button.css);
@import url(./blocks/cards.css);
@import url(./blocks/footer.css);
@import url(./blocks/popup.css);
@import url(/fonts/InterVariable-Italic.woff2);



  body {
    width: 100%;
    height: 100%;
    max-width: 880px;
    margin: auto;
    font-family: 'Inter',Arial, sans-serif;;
    font-size: 16px;
    line-height: 1.5;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
  }
  
  
  
  
  
  .link {
    text-decoration: none;
    color: rgb(247, 0, 0);
    cursor: pointer;
  }